
<h1><%= @project.name %></h1>
<ul>
<% @tickets.each do |ticket| %>
  <li> 
    <h3><%= link_to ticket.title, ticket_path(ticket) %></h3>
    <p>Status: <%= ticket.state %></p>
  </li>
<% end %>
</ul>